body{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    margin: 4rem auto 3rem;
    width: 18rem;
    text-align: center;
}
.top{
    width: 100%;
    background-color:#3da8fb ;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
}
.top p{
    font-size: 20px;
    color: white;
}
.top input{
    border-radius: 20px 0px 0 20px;
    height: 33px;
    background-color: #68bcfd;
    font-size: 17px;
    width: 11rem;
    border: none;
    padding-left: 15px;
}
.top button{
    border-radius: 0 20px 20px 0;
    background-color: white;
    color:#3da8fb ;
    height: 35px;
    padding-top: 4px;
    border: none;
}
.top button:hover{
    text-decoration: underline;
    background-color: #1b7bc5;
}
.mid{
    background-color: white;
    height: 30rem;
    border-radius: 0 0 10px 10px;
    
}
.list{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
}
.list img{
    width: 20%;
    
}
.list a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}
.conten{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.name{
    
    padding-bottom: 10px;
    font-size: 20px;
    text-align: left;
}
.detail{
    color: rgb(168, 158, 158);
}
.op1 hr{
    width: 90%;
}
.add{
    text-align: right;
    margin-top: 180px;
}
.add img{
    width: 28%;
}
